extends layout

block content
    each service in services
        div(class='status-wrapper')
            div(class='status-container')
                h2= service.name
                    span(class='status-circle' + (((new Date() - service.lastSeen) < 30000) ? ' online' : '')) &#9679;
                div(class='overview') Online, no recent incidents
                div(class='links')
                    a(href='/' + service.id) Status Log &gt;
                    if service.website
                        a(href=service.website) Visit Website &gt;
