doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon', type='image/png', href='/images/favicon.png')
    body
        div(id='content-wrapper')
            h1= title
            block content
