body {
    padding: 0;
    margin: 0;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 5em;
    text-align: center;
    color: #F5F5F5;
}
#content-wrapper {
    max-width: 80%;
    text-align: center;
}
.status-wrapper {
    display: inline-block;
    padding: 10px;
}
.status-container {
    background-color: #E0E0E0; /*grey 300*/
    transition: background-color 0.5s;
    border-radius: 5px;
    border: 1px solid darkgray;
    width: 300px;
    height: 150px;
    font-family: 'Open Sans Light', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.status-container:hover {
    background-color: #F5F5F5; /*grey 200*/
    transition: background-color 0.5s;
}
.status-container > h2 {
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
    margin: 5px 0;
}
.status-container > .overview {
    padding: 10px;
}
.status-circle {
    color: #F44336;
    float: right;
}
.status-circle.online {
    color: #00C853;
}
.links {
    height: 32px;
    padding: 0;
    margin: 0;
    line-height: 32px;
    color: gray;
}
.links a {
    display: inline-block;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: inherit;
}